{% extends 'base.html.twig' %}

{% block title %}Liste des Shows{% endblock %}

{% block body %}

<h1>Liste des {{ ressource }}</h1>

<ul>
{% for show in shows %}
    <li>{{ show.title}}
        {% if show.bookable %}
            <span style="font-weight: bold;">{{show.price}} $</span>
        {% endif %}

        - <strong>{{ show.category.category }}</strong>

        {% if show.representations|length==1 %}
            - <span>1 représentation</span>
        {% elseif show.representations|length>1 %}
            - <span>{{show.representations|length}} représentation</span>
        {% else %}
            - <em>aucune représentation</em>
        {% endif %}
    </li>
    
{% endfor %}
</ul>

{% endblock %}
