{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ utilisateur.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ utilisateur.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ utilisateur.langue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

{% endblock %}
